.quiz_details__page{
    @include breakpoint(mobile){
        padding: 27px 21px 24px;
    }
}
.back_link{
    position: relative;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    padding-left: 40px;

    @include breakpoint(mobile){
        font-size: 12px;
        line-height: 14px;
    }

    &::before{
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-top: 2px solid #000000;
        border-left: 2px solid #000000;
        transform: rotate(-38deg);
        margin-right: 10px;
        margin-top: 10px;
        position: absolute;
        top: -3px;

        @include breakpoint(mobile){
            top: -7px;
        }
    
    }

    &:hover{
        color: $base-green;
        text-decoration: none;

        &::before{
           border-color: $base-green;
        }
    }

}

.quiz_details{
    margin-top: 74px;

    @include breakpoint(mobile){
        margin-top: 20px;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;

        @include breakpoint(mobile){
            font-size: 12px;
            line-height: 14px;
            padding-left: 0;
        }

    }

    .quiz_date{
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: $base-grey;

        @include breakpoint(mobile){
            font-size: 10px;
            line-height: 12px;
        }
    }
}

.quiz_questions{
    margin-top: 70px;

    @include breakpoint(mobile){
        margin-top: 20px;
    }

    .quiz_groupe{
        border-bottom: 0.2px solid rgba(104, 104, 104, 0.5);
        margin-bottom: 30px;

        @include breakpoint(mobile){
            margin-bottom: 10px;
        }

        &:last-child{
            border: none;
        }
    }

    .quiz_answer{
        margin-top: 30px;
        margin-bottom: 36px;

        @include breakpoint(mobile){
            margin: 10px 0;
        }

        p{
            font-style: italic;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            color: #000000;

            @include breakpoint(mobile){
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}